<img src="images/logo.png" alt="לוגו של מיזם לימוד הפייתון. נחש מצויר בצבעי צהוב וכחול, הנע בין האותיות של שם הקורס: לומדים פייתון. הסלוגן המופיע מעל לשם הקורס הוא מיזם לימוד תכנות בחינם ובעברית.">

# <p style="align: right; direction: rtl; float: right;">סוגי ערכים (טיפוסים, או types)</p>

<p style="text-align: right; direction: rtl; float: right;">לכל ערך שאנחנו כותבים בפייתון, יש **סוג**. עד כה למדנו על שלושה סוגים שקיימים בפייתון (איזה זריזים אנחנו!), שהם:</p>

<ul style="text-align: right; direction: rtl; float: right;">
<li><abbr title="str">מחרוזת</abbr></li>
<li><abbr title="int">מספר שלם</abbr></li>
<li style="white-space: nowrap;"><abbr title="float" style="display: inline">מספר עשרוני</abbr> ("שבר")</li>
</ul>

<p style="text-align: right; direction: rtl; float: right;">בהנתן הסוגים שהוצגו למעלה, נסו לנחש מה סוג הנתונים בכל אחת מהשורות הבאות:</p>

<ol style="font-size: 1.25em;  list-style-type: i">
<li>`"Hello World"`</li>
<li>`3`</li>
<li>`9.5`</li>
<li>`"3"`</li>
<li>`'3'`</li>
<li>`'9.5'`</li>
<li>`'a'`</li>
</ol>

<p style="text-align: right; direction: rtl; float: right;">המינוח המקצועי ל"<dfn>סוג</dfn>" הוא "*טיפוס*", או באנגלית: *type*.</p>

<p style="text-align: right; direction: rtl; float: right;">
טיפוסים מזכירים מעט מצבי צבירה: כפי שניתן למצוא בטבע מים בצורות שונות (כנוזל – לשתייה, וכמוצק – קוביות קרח),<br>
כך בפייתון ניתן להשתמש בערך מסוים במספר צורות. נניח, ב־9.5 ניתן להשתמש גם כמספר (`9.5`) וגם כמחרוזת (`'9.5'`), בכל אחד מהם למטרות אחרות.
</p>

## <p style="align: right; direction: rtl; float: right;">type</p>

<p style="text-align: right; direction: rtl; float: right;">מכיוון שטיפוסים הם עניין כל־כך מרכזי בפייתון, קיימת ממש צורה בה ניתן לבדוק מה הוא הטיפוס של *ערך* מסוים.<br>
לפני שנציג לכם איך לגלות את הסוג של כל ערך (למרות שחשוב שתדעו לעשות את זה בעצמכם), אנחנו רוצים להציג בפניכם איך **פייתון** מכנה כל סוג:</p>

<div style="clear: both;"></div>

| שם בפייתון | שם באנגלית | שם בעברית |
|:----------|:--------|------:|
| str | **str**ing | מחרוזת |
| int | **int**eger | מספר שלם |
| float | float | מספר עשרוני |

<p style="text-align: right; direction: rtl; float: right;">
כדי לראות את *הסוג* של ערך נתון, נשתמש ב־<bdo dir="ltr">`type(VALUE)`</bdo>, כאשר במקום `VALUE` יופיע הערך אותו נרצה לבדוק.
<br>לפניכם מספר דוגמאות. נסו, לפני שאתם מריצים, לנחש את התוצאה של כל אחת מהדוגמאות.
<br>אם לא צדקתם – לא נורא, חלק גדול פה זה הימורים מושכלים :)</p>

In [ ]:
type(1)

In [ ]:
type(-1)

In [ ]:
type(0)

In [ ]:
type(1.9)

In [ ]:
type(1.0)

In [ ]:
type('a')

In [ ]:
type('buya!')

In [ ]:
type('9')

## <p style="align: right; direction: rtl; float: right;">תרגול</p>

<p style="text-align: right; direction: rtl; float: right;">
בדקו מה הסוג של הערכים והביטויים הבאים:
</p>

<ol style="font-size: 1.25em;  list-style-type: i">
<li>`'david'`</li>
<li>`"david"`</li>
<li>`-900.00`</li>
<li>`"-900.00"`</li>
<li>`3**5`</li>
<li>`5.0**2`</li>
<li>`5/2`</li>
<li>`5//2`</li>
<li>`'5.0**2'`</li>
</ol>

## <p style="align: right; direction: rtl; float: right;">שוני בין טיפוסים</p>

<p style="text-align: right; direction: rtl; float: right;">
טיפוס הערכים ישפיע על איך הם יתנהגו בפועל. הריצו את שלושת קטעי הקוד הבאים, ונסו לעמוד על ההבדלים ביניהם:
</p>

In [ ]:
1 + 1

In [ ]:
1.0 + 1.0

In [ ]:
"1" + "1"

<div class="align-center" style="display: flex; text-align: right; direction: rtl;">
    <div style="display: flex; width: 10%; float: right; ">
        <img src="images/warning.png" style="height: 50px !important;" alt="אזהרה!"> 
    </div>
    <div style="width: 90%">
        <p style="text-align: right; direction: rtl;">
            פעולות בין שני סוגי ערכים שונים עלולות לא לעבוד.<br>
            לדוגמה, כשננסה לחבר מספר שלם למספר עשרוני, נקבל מספר עשרוני. לעומת זאת, כשננסה לחבר מספר שלם למחרוזת, פייתון יתריע בפנינו על שגיאה.<br>
            ניתן להמשיל את זה לקערת קוביות קרח: נוכל לספור כמה קוביות קרח יש שם אם נוסיף מספר קוביות, אבל יהיה קשה לנו לתאר את תוכן הקערה אם נשפוך לשם כוס מים.<br>
        </p>
    </div>
</div>

<p style="text-align: right; direction: rtl; float: right;">
דוגמה לערכים מסוגים שונים שפעולת החיבור ביניהם עובדת:
</p>

In [ ]:
1 + 1.5

<p style="text-align: right; direction: rtl; float: right;">
דוגמה לערכים מסוגים שונים שפעולת החיבור ביניהם גורמת לפייתון להתריע על שגיאה:
</p>

In [ ]:
"1" + 2